{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1>Episode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Synopsis</th>
                {% if is_granted ('ROLE_ADMIN')%}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.synopsis }}</td>
                {% if is_granted ('ROLE_ADMIN')%}
                <td>

                    <a href="{{ path('episode_show', {'id': episode.id}) }}">show</a>
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted ('ROLE_ADMIN')%}
    <a href="{{ path('episode_new') }}">Create new</a>
    {% endif %}
{% endblock %}
