{% extends 'base.html.twig' %}
{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie présente : </h1>
    {% for category in categorys %}
    <ul>
        <li>{{ category.name }}</li>
    </ul>
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
