{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            {%  for season in season %}
                <a href ="{{ path('show_episode',{id : season.id}) }}"><p>{{ season.description}} : {{ season.year }}/{{season.id}}</p></a>
            {%  endfor %}
            <ul>
                <li>Acteurs :</li>
                {% for actor in actors %}
                    <a href="{{ path('actor',{name : actor.slug}) }}"><p>{{ actor.name }}</p></a>

                {% endfor %}
            </ul>
        </div>
    </div>
    <form>
        <input type="button" value="Page Précédente" onclick="history.back()">
    </form>

    <a href="{{ path('wild_index')}}">
        Retour à l'accueil
    </a>

{% endblock %}
