{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {% if is_granted ('ROLE_ADMIN')%}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.name }}</td>
                {% if is_granted ('ROLE_ADMIN')%}
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}">show</a>
                    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted ('ROLE_ADMIN')%}
    <a href="{{ path('actor_new') }}">Create new</a>
    {% endif %}
{% endblock %}
